﻿body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 85%;
    width: 550px;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    border: 5px double #0000FF;
}
h1 {
    font-size: 140%;
    color: #0000FF;
    padding: 0;
    margin-bottom: 0.5em;
}
label {
    float: left;
    width: 10em;
}
.entry {
    margin-left: 1em;
    margin-bottom: 0.5em;
    width: 10em;
}
.button {
    margin-top: 1em;
    width: 10em;
}
.validators {
    font-size: 95%;
    color: #FF0000;
    left: 1em;
}
#ddlMonthlyInvestment {
    width: 10.5em;
}
#lblFutureValue {
    font-weight: bold;
    margin-left: 1em;
}
#btnClear {
    margin-left: 1em;
}